* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px 9%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

:root {
    --primaryColor: #65ba2c;
    --bgFillColor: #0b0b0b;
    --titleColor: rgb(179, 179, 179);
    font-family: Comportaa, sans-serif;
}

@media screen and (max-width: 1030px) {
    .container {
        padding: 20px 20px;
    }
}
